# Build artifacts
dist/
build/
out/
_site/
*.tsbuildinfo

# Dependencies
node_modules/
.pnpm-store/
.yarn/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Test
coverage/
.nyc_output/

# Misc
*.tgz
.cache/
